*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.idea/
.idea/modules/
.idea/kotlinc.xml
.idea/misc.xml
.idea/vcs.xml
.idea/deploymentTargetDropDown.xml
.idea/deploymentTargetSelector.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/render.experimental.xml
.idea/runConfigurations.xml
.idea/externalDependencies.xml
.idea/compiler.xml
.idea/scopes/
.idea/inspectionProfiles/
/build
.kotlin/
captures/
.externalNativeBuild
.cxx
/google-services.json
.DS_Store
